@import "vars";

.competency_edit-employability-container {
    display: flex;
    flex-direction: column;

    label{
        font-size: 18px;
        font-weight: 400;
        color: color-gray(1);
        margin-bottom: 10px;

        .fa-info-circle {
            color: color-accent()
        }
    }
}