<!--Employability Builder-->
<div class="competency_edit-employability-container">
  <label>Employability <a 
    [tip]=" 'Click here to go to Employability description in e-handbook' "
    href="https://caecommunity.org/sites/default/files/national_centers/CYBER_EDU_Competency_Handbook_2023.pdf#page=14"
    target="_blank"
    ><i class="fas fa-info-circle"></i></a></label>
  <br>
  <!--Link to Montreat competencies link-->
  <p>Please reference the 
    <a href="https://competency-constructor.s3.amazonaws.com/Defining+Montreat+360+Competencies+and+Skills.pdf"
    target="_blank">Montreat 360 Competencies and Skills</a> to define employability.</p>
  <!--Employability description-->
  <label>Description *</label>
  <textarea placeholder="Describe the soft skills and fit an individual must have in order to achieve this competency."
    [formControl]="details"></textarea>
</div>