@import "vars";
// TODO Since this particular button is not in the mocks I didn't build out a component for buttons, but this is a starting point
button {
    float: right;
    border: solid color-gray(5) 1px;
    border-radius: 4px;
    background-color: #F7F7F7;
    min-height: 40px;
    padding: 15px 20px;
    color: color-gray(2);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

button:hover {
    cursor:pointer;
}