@import "vars";
button {
    float: right;
    border: solid color-gray(5) 2px;
    border-radius: 4px;
    background-color: color-gray(7);
    height: 40px;
    padding: 10px;
    color: color-gray(2);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

button:hover {
    cursor:pointer;
}

button:active {
    background-color: color-gray(4);
    border: solid color-gray(6) 2px;
    color: color-gray(7);
}