@import "vars";
.login-wrapper {
    width: 300px;
    text-align: center;
    margin: 50px auto;

    mat-form-field {
        display: block;
        color: color-gray(3) !important;;
    }

    h1 {
        color: color-gray(2);
        margin-bottom: 0px !important;
    }

    h5 {
        color: color-gray(4);
        margin-top: 0px !important;
        text-align: right;
    }

    button {
        margin: 0 5px;
    }
}