<cc-error-banner [message]="errMessage"></cc-error-banner>
<div class="login-wrapper">
    <div class="logo">
        <img src="../../../assets/CompetencyConstructor_Logo_Transparent.png" alt="Competency Constructor Logo">
    </div>
    <form [formGroup]="loginFormGroup">
        <cc-text-field
            animate
            [value]="loginFormGroup.get('email')?.value"
            (valueChange)="loginFormGroup.get('email')?.setValue($event)"
            [autofocus]="true"
            [required]="true"
            label="Email address"
            type="email"
            [block]="true"
        ></cc-text-field>
        <cc-text-field
            animate
            [value]="loginFormGroup.get('password')?.value"
            (valueChange)="loginFormGroup.get('password')?.setValue($event)"
            label="Password"
            type="password"
            [block]="true"
        ></cc-text-field>
        <button mat-raised-button color="primary" type="submit" (click)="login()">LOGIN</button>
        <button mat-raised-button (click)="register()">REGISTER</button>
    </form>
</div>
