.competency_edit-employability-container{
    display: flex;
    flex-direction: column;

    label{
        font-size: 18px;
        font-weight: 400;
        color: #1F2228;
    }

    textarea{
        width: 550px;
        height: 130px;
        border: 1px solid;
        border-color: #C6CBD2;
        border-radius: 6px;
        margin-top: 10px;
        font-family: Arial;
        font-size: 14px;
        padding: 15px;
    }
}