<ng-container class="competency-builder_container" onclick="onNoClick()">
  <div class="competency-builder_control">
    <p>yeetus</p>
  </div>
  <div class="competency-builder_builder">
    <div class="competency-builder_navbar column left">
      <div class="competency-builder_navbar-buttons">
        <button (click)="builderService.setBuilderIndex(0)">Actor</button>
        <button (click)="builderService.setBuilderIndex(1)">Behavior</button>
        <button (click)="builderService.setBuilderIndex(2); builderService.setTemplateIndex(0)">Context</button>
        <ng-container *ngIf="currIndex === 2">
          <button (click)="builderService.setTemplateIndex(0)" class="buidler_navbar-submenu">Description</button>
          <button (click)="builderService.setTemplateIndex(1)" class="buidler_navbar-submenu">Technology</button>
          <button (click)="builderService.setTemplateIndex(2)" class="buidler_navbar-submenu">Documentation</button>
        </ng-container>
        <button (click)="builderService.setBuilderIndex(3); builderService.setTemplateIndex(0)">Degree</button>
        <ng-container *ngIf="currIndex === 3">
          <button (click)="builderService.setTemplateIndex(0)" class="buidler_navbar-submenu">Description</button>
          <button (click)="builderService.setTemplateIndex(1)" class="buidler_navbar-submenu">Rubric</button>
        </ng-container>
        <button (click)="builderService.setBuilderIndex(4)">Employability</button>
        <button (click)="builderService.setBuilderIndex(5)">Notes</button>
        <button (click)="builderService.setBuilderIndex(6)">Review</button>
      </div>
    </div>
    <div class="competency-builder_form column right">
      <!--Actor-->
      <ng-container *ngIf="currIndex === 0">
        <cc-actor-builder
          [actor] = "competency.actor"
          (actorChange) = "updateCompetency($event)"
        ></cc-actor-builder>
      </ng-container>
      <!--Behavior-->
      <ng-container *ngIf="currIndex === 1">
        <cc-behavior-builder
          [behavior] = "competency.behavior"
          (behaviorChange) = "updateCompetency($event)"
        ></cc-behavior-builder>
      </ng-container>
      <!--Condition-->
      <ng-container *ngIf="currIndex === 2">
        <cc-context-builder
          [condition] = "competency.condition"
          (conditionChange) = "updateCompetency($event)"
        ></cc-context-builder>
      </ng-container>
      <!--Degree-->
      <ng-container *ngIf="currIndex === 3">
        <cc-degree-builder
          [degree] = "competency.degree"
          (degreeChange) = "updateCompetency($event)"
        ></cc-degree-builder>
      </ng-container>
      <!--Employability-->
      <ng-container *ngIf="currIndex === 4">
        <cc-employability-builder
          [employability] = "competency.employability"
          (employabilityChange) = "updateCompetency($event)"
        ></cc-employability-builder>
      </ng-container>
      <!--Notes-->
      <ng-container *ngIf="currIndex === 5">
        <cc-notes-builder
          [notes]="competency.notes"
          (notesChange)="updateCompetency($event)"
        ></cc-notes-builder>
      </ng-container>
      <!--TODO: Implement Preview-->
      <ng-container *ngIf="currIndex === 6">review</ng-container>
      <!--Action Buttons-->
      <div class="competency-builder_form-buttons">
        <button [mat-dialog-close]="false">DELETE</button>
        <button (click)="saveCompetency()">SUBMIT</button>
      </div>
    </div>
  </div>
</ng-container>