@import "vars";

/* Clear floats after the columns */
.competency-builder_container{
  display: flex;
  flex-direction: column;

.competency-builder_builder {
  display: flex;
  flex-direction: row;

  .column{
    height: fit-content;
    
  }
  .left {
    color: white;
    position: relative;
    padding-top: 30px;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    padding: 30px 20px 0 20px;
    overflow-y: auto;

    border-left: 1px solid #C6CBD2;
    

    .content{
      margin-bottom: 50px;
    }


    .competency-builder_form-buttons{
      display: flex;
      justify-content: space-between;
      position: fixed;
      bottom: 0px;
      padding: 20px 0;
      width: 585px;
      background-color: white;

      .review, .delete{
        padding: 10px 20px;
        color: #454545;
        background-color: #f7f7f7;
        border: 1px solid #DFDFDF;
        border-radius: 4px;
        &:hover{
        cursor: pointer;
      }
      }
      
      .next, .submit{
        padding: 10px 20px;
        color: #f7f7f7;
        background-color: #376ED6;
        box-shadow: 0px 6px 12px -6px #376ED6;
        border-radius: 4px;
        border: none;
        margin-left: 30px;

        &:hover{
        cursor: pointer;
      }
  
      }
      
      .back{
        background-color: transparent;
        border: none;
        height: fit-content;
        align-self: center;
        display: flex;

        .fa-arrow-left{
          margin-right: 7px;
        }
      }
      .hidden{
        visibility: hidden;
      }
      .back:hover{
        cursor: pointer;
        border-bottom: 1px solid black;
      }
    }
  }

  /**
    Create two unequal columns that floats next to each other
    NOTE: The following classes MUST remain in this order below the above classes
        * column
        * left
        * right
  **/
  // .column {
  //   padding: 10px;
  //   height: 500px; /* Should be removed. Only for demonstration */
  // }

  // .left {
  //   width: 15%;
  // }

  // .right {
  //   width: 80%;
  //   overflow-y: auto;
  //   div {
  //     width: 100%;
  //   }
  // }
}
.competency-builder_control{
  background-color: #EFEFEF;
  padding: 10px 20px;
  .header{
    size: 18px;
    font-weight: 600;
  }
}
}