/* Clear floats after the columns */
.competency-builder_builder {
  display: inline-flex;
  width: 100%;

  .competency-builder_navbar {
    color: white;
    position: relative;
  }

  .competency-builder_form {
    position: relative;
    width: 100%;

    .competency-builder_form-buttons {
      position: absolute;
      bottom: 0%;
      right: 0%;
      width: 100%;

      button {
        display: inline-flex;
        padding: 15px;
        margin: 15px 15px 0 0;
        text-align: right;
        float: right;
      }
    }
  }

  /**
    Create two unequal columns that floats next to each other
    NOTE: The following classes MUST remain in this order below the above classes
        * column
        * left
        * right
  **/
  .column {
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
  }

  .left {
    width: 15%;
  }

  .right {
    width: 80%;
    overflow-y: auto;
    div {
      width: 100%;
    }
  }
}
