<div class="competency-builder_container">
  <div class="competency-builder_control">
    <p>New Competency</p>
  </div>
  <div class="competency-builder_builder">
    <div class="competency-builder_navbar column left">
      <cc-builder-navbar></cc-builder-navbar>
    </div>
    <div class="competency-builder_form column right">
      <!--Actor-->
      <ng-container *ngIf="currIndex === 0">
        <cc-actor-builder
          [actor] = "competency.actor"
          (actorChange) = "updateCompetency($event)"
        ></cc-actor-builder>
      </ng-container>
      <!--Behavior-->
      <ng-container *ngIf="currIndex === 1">
        <cc-behavior-builder
          [behavior] = "competency.behavior"
          (behaviorChange) = "updateCompetency($event)"
        ></cc-behavior-builder>
      </ng-container>
      <!--Condition-->
      <ng-container *ngIf="currIndex === 2">
        <cc-context-builder
          [condition] = "competency.condition"
          [competencyId] = "competencyId"
          (conditionChange) = "updateCompetency($event)"
        ></cc-context-builder>
      </ng-container>
      <!--Degree-->
      <ng-container *ngIf="currIndex === 3">
        <cc-degree-builder
          [degree] = "competency.degree"
          [competencyId] = "competencyId"
          (degreeChange) = "updateCompetency($event)"
        ></cc-degree-builder>
      </ng-container>
      <!--Employability-->
      <ng-container *ngIf="currIndex === 4">
        <cc-employability-builder
          [employability] = "competency.employability"
          (employabilityChange) = "updateCompetency($event)"
        ></cc-employability-builder>
      </ng-container>
      <!--Notes-->
      <ng-container *ngIf="currIndex === 5">
        <cc-notes-builder
          [notes]="competency.notes"
          (notesChange)="updateCompetency($event)"
        ></cc-notes-builder>
      </ng-container>
      <!--TODO: Implement Preview-->
      <ng-container *ngIf="currIndex === 6">Preview coming soon</ng-container>
      <!--Action Buttons-->
      <div class="competency-builder_form-buttons">
        <button [mat-dialog-close]="false">DELETE</button>
        <button (click)="closeBuilder()">SAVE</button>
      </div>
    </div>
  </div>
</div>