<div class="competency-builder_container">
  <div class="competency-builder_control">
    <div class="header">New Competency</div>
  </div>
  <div class="competency-builder_builder">
    <cc-builder-navbar class="column left"></cc-builder-navbar>
    <div class="competency-builder_form column right">
      <div class="content">
        <!--Actor-->
        <ng-container *ngIf="currIndex === 0">
          <cc-actor-builder [actor]="competency.actor" (actorChange)="updateCompetency($event)"></cc-actor-builder>
        </ng-container>
        <!--Behavior-->
        <ng-container *ngIf="currIndex === 1">
          <cc-behavior-builder [behavior]="competency.behavior"
            (behaviorChange)="updateCompetency($event)"></cc-behavior-builder>
        </ng-container>
        <!--Condition-->
        <ng-container *ngIf="currIndex === 2">
          <cc-context-builder [condition]="competency.condition" [competencyId]="competencyId"
            (conditionChange)="updateCompetency($event)"></cc-context-builder>
        </ng-container>
        <!--Degree-->
        <ng-container *ngIf="currIndex === 3">
          <cc-degree-builder [degree]="competency.degree" [competencyId]="competencyId"
            (degreeChange)="updateCompetency($event)"></cc-degree-builder>
        </ng-container>
        <!--Employability-->
        <ng-container *ngIf="currIndex === 4">
          <cc-employability-builder [employability]="competency.employability"
            (employabilityChange)="updateCompetency($event)"></cc-employability-builder>
        </ng-container>
        <!--Notes-->
        <ng-container *ngIf="currIndex === 5">
          <cc-notes-builder [notes]="competency.notes" (notesChange)="updateCompetency($event)"></cc-notes-builder>
        </ng-container>
        <!--TODO: Implement Preview-->
        <ng-container *ngIf="currIndex === 6">Preview coming soon</ng-container>
        <!--Action Buttons-->
      </div>
      <div class="competency-builder_form-buttons">
        <button class="back" [ngClass]="{'hidden': currIndex===0}"
          (click)="builderService.setBuilderIndex(currIndex - 1); setTemplateButton();"><i
            class="fas fa-arrow-left"></i> BACK</button>
        <div>
          <button class="review" *ngIf="currIndex < 5 " (click)="builderService.setBuilderIndex(6)">{{
            indexButton.REVIEW
            }}</button>
          <button class="next" *ngIf="currIndex !== 6"
            (click)="builderService.setBuilderIndex(currIndex + 1); setTemplateButton();">{{ templateText }}</button>

        </div>
        <ng-container *ngIf="currIndex === 6">
          <div>
            <button class="delete" (click)="deleteCompetency()">DELETE
              DRAFT</button>
            <button class="submit" (click)="submitCompetency()">SUBMIT
              COMPETENCY</button>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

</div>