<div class="wrapper">
    <div class="content">
        <!-- Dropdown Filters -->
        <div class="dropdowns">
            <cc-filtering-dropdowns [title]="dropdownType.STATUS" (selectedEmitter)="statuses($event)"></cc-filtering-dropdowns>
            <!--DISABLED FOR BETA-->
            <cc-filtering-dropdowns [title]="dropdownType.WORKROLE" (selectedEmitter)="workroles($event)"></cc-filtering-dropdowns>
            <!-- <cc-filtering-dropdowns [title]="dropdownType.TASK" (selectedEmitter)="tasks($event)"></cc-filtering-dropdowns> -->
            <!-- <cc-filtering-dropdowns [title]="dropdownType.ACTOR" (selectedEmitter)="audiences($event)"></cc-filtering-dropdowns> -->
        </div>
    
        <!-- Buttons -->
        <div class="buttons">
            <button class="help" [routerLink]="['/help']">GET HELP</button>
            <button class="builder" (click)="newCompetency.emit(); disabled=true;" [disabled]="disabled">NEW COMPETENCY</button>
        </div>  
    </div>
</div>