@import 'vars.scss';

.wrapper {
    width: 100%;

    display: flex;
    justify-content: space-evenly;

    background-color: color-gray(12);

    .content {
        max-width: 1500px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 40px 0 40px;
        flex-wrap: wrap;

        .dropdowns {
            display: flex;
            align-items: center;
        }

        .buttons {
            display: flex;
            align-items: center;

            .help {
                border: 1px solid color-gray(7);
                padding: 15px 20px;
                margin-right: 20px;
            }

            .builder {
                background-color: color-accent();
                color: white;
                border: 0;
                box-shadow: 0px 6px 12px -6px color-accent();
                padding: 15px 20px;
                transition: all .15s ease-in-out;

                &:hover {
                    transform: scale(1.025);
                    transition: all .15s ease-out;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .wrapper {
        .content {
            justify-content: center;
            padding-bottom: 15px;
        }
    }

}