@import 'vars.scss';

.wrapper {
    width: 100%;

    display: flex;
    justify-content: space-evenly;

    background-color: #EFEFEF;

    .content {
        max-width: 1500px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        .dropdowns {
            display: flex;
            align-items: center;
        }
    
        .buttons {
            display: flex;
            align-items: center;
    
            .help {
                border: 1px solid color-gray(6);
                padding: 15px 20px;
                margin-right: 20px;
                &:hover {

                }
            }
    
            .builder {
                background-color: color-accent();
                color: white;
                border: 0;
                box-shadow: 0px 6px 12px -6px color-accent();
                padding: 15px 20px;
                &:hover {

                }
            }
        }
    }
}