@import 'vars.scss';

.wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;

    background-color: #EFEFEF;

    .dropdowns {
        display: grid;
        grid-template-columns: repeat(4, min-content);
        gap: 0 1vh;
        
        padding: 1vh 2vh;
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(2, min-content);
        gap: 0 1vh;

        padding: 1vh 2vh;

        .help {
            border: 1px solid color-gray(6);

            &:hover {
                opacity: 0.5;
            }
        }

        .builder {
            background-color: color-accent();
            color: white;
            border: 0;
            box-shadow: 0px 6px 12px -6px color-accent();

            &:hover {
                opacity: 0.5;
            }
        }

        
    }
}