<div class="competency-builder_navbar-buttons">
    <button (click)="builderService.setBuilderIndex(0)">Actor</button>
    <button (click)="builderService.setBuilderIndex(1)">Behavior</button>
    <button (click)="builderService.setBuilderIndex(2); builderService.setTemplateIndex(0)">Context</button>
    <ng-container *ngIf="currIndex === 2">
        <button (click)="builderService.setTemplateIndex(0)" class="buidler_navbar-submenu">Description</button>
        <button (click)="builderService.setTemplateIndex(1)" class="buidler_navbar-submenu">Technology</button>
        <button (click)="builderService.setTemplateIndex(2)" class="buidler_navbar-submenu">Documentation</button>
    </ng-container>
    <button (click)="builderService.setBuilderIndex(3); builderService.setTemplateIndex(0)">Degree</button>
    <ng-container *ngIf="currIndex === 3">
        <button (click)="builderService.setTemplateIndex(0)" class="buidler_navbar-submenu">Description</button>
        <button (click)="builderService.setTemplateIndex(1)" class="buidler_navbar-submenu">Rubric</button>
    </ng-container>
    <button (click)="builderService.setBuilderIndex(4)">Employability</button>
    <button (click)="builderService.setBuilderIndex(5)">Notes</button>
    <button (click)="builderService.setBuilderIndex(6)">Review</button>
</div>