@import "vars";

.competency-builder_navbar-buttons {

    .primary_nav {
        display: grid;
        text-align: left;
        justify-content: space-between;
        width: 115px;
        padding: 15px;
        border-radius: 6px;
        font-size: 18px;
        .subs{
            display: inline;
            font-size: 14px;
            height: 100%;
        }
        margin-left: 20px;
        margin-right: 10px;
        color: color-gray(3);
        transition: background-color 500ms, color 500ms;
        &:hover{
            cursor: pointer;
        }

        .error {
            display: flex;
            font-size: 15px;
            position: absolute;
            right: 15px;
            color: color-danger("default");
        }
    }
    .choosen {
        background-color: color-accent("hover");
        color: color-accent();
        .title{
            font-weight: 600;
        }
        
    }

    .buidler_navbar-submenu{
        display: flex;
        margin-top: 7px;
        color: color-gray(3);
        &:hover{
            cursor: pointer;
        }
        .fa-circle{
            visibility: hidden;
            margin-right: 5px;
            align-self: center;
        }
    }
    .active{

        .fa-circle{
            visibility: visible;
        }

    }
}