<!-- Toggle template for edit and viewing competency -->
<ng-container *ngIf="!isEdit; then viewDegreeTemplate else editDegreeTemplate"></ng-container>

<!--View Degree Template-->
<ng-template #viewDegreeTemplate>
  <p>deg go brrrr</p>
</ng-template>

<!--Edit Degree Template-->
<ng-template #editDegreeTemplate>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Degree
      </mat-panel-title>
      <mat-panel-description>
        Identify the time completeness and correctness for this competency
        <!-- <mat-icon>account_circle</mat-icon> -->
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill" color="primary">
      <mat-label>Time</mat-label>
      <input matInput [formControl]="time">
      <mat-error *ngIf="time.invalid">You must select a target audience!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" color="primary">
      <mat-label>Completeness</mat-label>
      <input matInput [formControl]="complete">
      <mat-error *ngIf="complete.invalid">You must select a target audience!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" color="primary">
      <mat-label>Correctness</mat-label>
      <input matInput [formControl]="correct">
      <mat-error *ngIf="correct.invalid">You must provide a description of your audience!</mat-error>
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="primary" (click)="updateDegree()" [disabled]="complete.invalid || correct.invalid || time.invalid">Update Degree</button>
    </mat-action-row>

  </mat-expansion-panel>
</ng-template>