<div class="wrapper">
    <!-- Dropdown button -->
    <button class="button-wrapper"
        [matMenuTriggerFor]="dropdown"
        (menuClosed)="iconArrowDown = true"
        (menuOpened)="iconArrowDown = false"
        [disabled]="disabled"
    >
        <div class="title" [tipDisabled]="!disabled" [tip]="disabled ? 'Please select a Workforce Framework' : title + ' Filter'">{{title}}</div>
        <ng-container *ngIf="iconArrowDown else iconUp" [ngTemplateOutlet]="iconDown"></ng-container>
    </button>

    <!-- Dropdown Menu triggered toggled by the dropdown button -->
    <!-- TO DO: Remove Angular Material and then add hover state for list items (see builder dropdowns)-->
    <mat-menu #dropdown="matMenu" class="dropdown-wrapper">
            <!-- Searchbar used to filter the 'filter items' -->
            <div *ngIf="searchbar" class="searchbar" (click)="$event.stopPropagation()">
                <cc-search-bar (search)="filterSearch($event)"></cc-search-bar>
            </div>

            <!-- Filter items -->
            <div mat-menu-item class="dropdown">
                <div *ngFor="let item of items" class="item" (click)="toggleFilterItem(item)">
                    <div class="item_text" [ngClass]="{'blue': calculateStyles(item).color === 'blue', 'black': calculateStyles(item).color === 'black'}">
                        {{item.name | uppercase}}
                    </div>
                </div>
            </div>
    </mat-menu>
</div>

<ng-template #iconDown>
    <div>
        <i *ngIf="iconArrowDown" class="fa fa-chevron-down"></i>
    </div>
</ng-template>

<ng-template #iconUp>
    <div>
        <i *ngIf="!iconArrowDown" class="fa fa-chevron-up"></i>
    </div>
</ng-template>