@import "vars.scss";

.wrapper {
    display: flex;
    align-items: center;
    position: relative; // allows dropdown to be positioned relative to this element
    margin: 15px 20px 15px 0;

    .button-wrapper {
        display: flex;
        padding: 15px 20px;

        .title {
            margin-right: 10px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

// ng-deep is used to override the default styles of the dropdown component
::ng-deep .dropdown-wrapper {
    width: 275px;

    margin-top: 5px; // space between dropdown and parent element

    // styles the container of the dropdown
    background: white;
    border: 1px solid color-gray(12);
    border-radius: 4px;

    .searchbar {
        padding: 10px 10px;
    }

    .dropdown {
        min-height: 200px; // we should change this to be a calculated value based on the number of items
        overflow-y: scroll;
        overflow-x: hidden;

        .item {    
            border-top: 1px solid color-gray(12);
            text-transform: capitalize;
            &:first-child{
                border-top: none;
            }
            .item_text{
                width: 235px;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 0 4px;
                &:hover{
                    background-color: rgba($color: color-accent(), $alpha: 0.1);
                    cursor: pointer;
                }
            }
        }
    }
}