@import "vars.scss";

.wrapper {
    display: flex;
    align-items: center;
    position: relative; // allows dropdown to be positioned relative to this element

    .button-wrapper {
        display: flex;
        padding: 10px 15px;

        .title {
            margin-right: 10px;
            font-weight: 600;
        }
    }
}

// ng-deep is used to override the default styles of the dropdown component
::ng-deep .dropdown-wrapper {
    min-width: 150px; // TODO: this may be able to be removed if the text is wide enough
    max-width: 200px;

    margin-top: 5px; // space between dropdown and parent element

    // styles the container of the dropdown
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 4px;

    .searchbar {
        padding: 10px 10px;
    }

    .dropdown {
        min-height: 200px; // we should change this to be a calculated value based on the number of items
        overflow: scroll;

        .item {    
            border-top: 1px solid #DFDFDF;
    
            cursor: pointer;
            &:hover {
                color: #376ED6;
            }
        }
    }
}