<div class="navbar">
    <div class="wrapper">
    <div class="logo">
        <a [routerLink]="['/dashboard']" aria-label="Clickable Competency Constructor dashboard link">
            <img src="../../../../assets/CompetencyConstructor_Logo_Transparent.png" alt="Competency Constructor Logo">
        </a>
    </div>
    <div class="search">
        <div class="search-wrapper">
            <!-- <cc-search-bar (search)="sendSearch($event)"></cc-search-bar> -->
        </div>
    </div>
    <div class="profile">
        <cc-user-menu></cc-user-menu>
    </div>
</div>
</div>
