.navbar{
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 100%;
    max-width: 1500px;
    overflow: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
        padding: 30px;

        a {
            img {
                max-width: 225px;
                height: auto;
            } 
        }
    }

    .search {
        width: 50%;
        flex-grow: 1;
    }

    .profile {
        margin: 30px;
    }
}


