@import "vars";

.navbar {
    display: flex;
    justify-content: center;

    &.admin {
        background-color: #EFEFEF;
    }
}

.wrapper {
    width: 100%;
    max-width: 1500px;
    overflow: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
        padding: 30px;

        a {
            img {
                max-width: 225px;
                height: auto;
            }
        }

        p {
            font-size: $larger;
            margin: 0 0 0 20px;
            font: bold;
        }
    }

    .search {
        max-width: 800px;
        flex-grow: 1;
    }

    .profile {
        margin: 30px;
    }
}