
.wrapper {
    width: 100%;
    max-width: 1500px;
    overflow: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
        padding: 30px;

        h2 {
            padding-top: 10px;
        }
    }

    .search {
        max-width: 50%;
        flex-grow: 1;
    }

    .profile {
        margin: 30px;
    }
}


