<!-- Toggle template for edit and viewing employability -->
<ng-container *ngIf="!isEdit; then viewEmployabilityTemplate else editEmployabilityTemplate"></ng-container>

<!--View Employability Template-->
<ng-template #viewEmployabilityTemplate>
  <p>deg go brrrr</p>
</ng-template>

<!--Edit Employability Template-->
<ng-template #editEmployabilityTemplate>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Employability
      </mat-panel-title>
      <mat-panel-description>
        Identify how your audience shall fit into this competency
        <!-- <mat-icon>account_circle</mat-icon> -->
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill" color="primary">
      <mat-label>Description</mat-label>
      <input matInput [formControl]="details">
      <mat-error *ngIf="details.value === ''">You must provide a description employability!</mat-error>
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="primary" (click)="updateEmployability()" [disabled]="touched">Update Employability</button>
    </mat-action-row>

  </mat-expansion-panel>
</ng-template>