<!--Behavior Builder-->
<ng-container class="competency_edit-behavior-container">
  <!--Behavior workrole selection field-->
  <div appearance="fill" color="primary">
    <label>Workrole</label>
    <input type="text"
            placeholder="Choose a workrole"
            aria-label="Workrole"
            matInput
            [formControl]="workrole"
            [matAutocomplete]="workroles">
    <mat-autocomplete #workroles="matAutocomplete">
      <mat-option *ngFor="let workrole of filteredWorkroles | async" [value]="workrole">
        {{workrole}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <!--Behavior task selection field-->
  <div appearance="fill" color="primary">
    <label>Task</label>
    <input type="text"
            placeholder="Choose a task"
            aria-label="Task"
            matInput
            [formControl]="task"
            [matAutocomplete]="tasks">
    <mat-autocomplete #tasks="matAutocomplete">
      <mat-option *ngFor="let task of filteredTasks | async" [value]="task">
        {{task}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <!--Behavior description form field-->
  <div appearance="fill" color="primary">
    <label>Task Description</label>
    <textarea placeholder="Provide a description for your task" [formControl]="details"></textarea>
  </div>
</ng-container>
