<!--Behavior Builder-->
<div class="competency_edit-behavior-container">
  <!--Behavior workrole selection field-->
  <ng-container>
    <label>Work Role</label>
    <div class="search_bar">
    <div class="search_icon"><i class="fas fa-search"></i></div>
    <input
      [ngModel]="selectedWorkrole ? selectedWorkrole.work_role : ''"
      (keyup)="workroleKeyup($event)"
      placeholder="Search for a workrole"
      #workroleInput
    >
    </div>
    <ul
      *ngIf="showWorkrolesDropdown"
      (onBlur)="closeDropdown()"
      class="org-dropdown_list"
    >
      <ng-container
        *ngTemplateOutlet="loading ? loadingTemplate : workroleResultsTemplate"
      ></ng-container>
    </ul>
  </ng-container>
  <!--Behavior task selection field-->
  <div class="task">
    <label>Task</label>
    <div class="task-list">
      <button *ngFor="let niceTask of selectedTask"
      (click)="selectedTask.splice(selectedTask.indexOf(niceTask), 1); task.patchValue(true);"
          class="chip"
          attr.aria-label="Remove {{ niceTask.element_id | titlecase }} as an affiliated task"
      >
          {{ niceTask.element_id | titlecase }} <i class="far fa-times"></i>
      </button>
  </div>
    <div class="search_bar">
      <div class="search_icon"><i class="fas fa-search"></i></div>
    <input 
      placeholder="Search for a task"
      (keyup)="taskKeyup($event)"
    >
    </div>
    <ul
      *ngIf="showTasksDropdown"
      (onBlur)="closeDropdown()"
      class="org-dropdown_list"
    >
      <ng-container
        *ngTemplateOutlet="loading ? loadingTemplate : taskResultsTemplate"
      ></ng-container>
    </ul>
  </div>
  <!--Behavior description form field-->
  <ng-container>
    <label class="task_description">Task Description</label>
    <textarea placeholder="Provide a description for your task" [formControl]="details"></textarea>
  </ng-container>
</div>

<!-- workrole dropdown template -->
<ng-template #workroleResultsTemplate>
  <ng-container
    *ngIf="workroles && workroles.length; else noResultsTemplate"
  >
    <virtual-scroller
      #scroll
      [style.height]="scrollerHeight"
      [bufferAmount]="7"
      [enableUnequalChildrenSizes]="true"
      [items]="workroles"
      >
          <li
              class="org-dropdown_list-item"
              *ngFor="let role of scroll.viewPortItems"
              (click)="selectedWorkrole = role; closeDropdown(); workrole.patchValue(true);"
          >
              {{ role.work_role }}
          </li>
      </virtual-scroller>
  </ng-container>
</ng-template>

<!--Task dropdown template-->
<ng-template #taskResultsTemplate>
  <ng-container
    *ngIf="tasks && tasks.length; else noResultsTemplate"
  >
    <virtual-scroller
      #scroll
      [style.height]="scrollerHeight"
      [bufferAmount]="7"
      [enableUnequalChildrenSizes]="true"
      [items]="tasks"
      >
          <li
              class="org-dropdown_list-item"
              *ngFor="let niceTask of scroll.viewPortItems"
              (click)="selectedTask.push(niceTask); closeDropdown(); task.patchValue(true);"
          >
              {{ niceTask.element_id | titlecase }} - {{ niceTask.description }}
          </li>
      </virtual-scroller>
  </ng-container>
</ng-template>

<!--Loading template-->
<ng-template #loadingTemplate>
  <span class="org-dropdown__message">
    <i class="far fa-spinner-third fa-spin">
      Loading
    </i>
  </span>
</ng-template> 

<!--No Results Template-->
<ng-template #noResultsTemplate>
  <div class="other-box">
    <li class="other-option">
      No Results Found
    </li>
  </div>
</ng-template>