<!--Behavior Builder-->
<ng-container class="competency_edit-behavior-container">
  <!--Behavior workrole selection field-->
  <div appearance="fill" color="primary">
    <input
      [ngModel]="selectedWorkrole ? selectedWorkrole.work_role : ''"
      (keyup)="workroleKeyup($event)"
      placeholder="Search for a workrole"
      #workroleInput
    >
    <ul
      *ngIf="showWorkrolesDropdown"
      (onBlur)="closeDropdown()"
      class="org-dropdown_list"
    >
      <ng-container
        *ngTemplateOutlet="loading ? loadingTemplate : workroleResultsTemplate"
      ></ng-container>
    </ul>
  </div>
  <!--Behavior task selection field-->
  <div appearance="fill" color="primary">
    <input 
      placeholder="Search for a task"
      (keyup)="taskKeyup($event)"
    >
    <ul
      *ngIf="showTasksDropdown"
      (onBlur)="closeDropdown()"
      class="org-dropdown_list"
    >
      <ng-container
        *ngTemplateOutlet="loading ? loadingTemplate : taskResultsTemplate"
      ></ng-container>
    </ul>
    <ng-container>yeetus goes here</ng-container>
  </div>
  <!--Behavior description form field-->
  <div appearance="fill" color="primary">
    <label>Task Description</label>
    <textarea placeholder="Provide a description for your task" [formControl]="details"></textarea>
  </div>
</ng-container>

<!-- workrole dropdown template -->
<ng-template #workroleResultsTemplate>
  <ng-container
    *ngIf="workroles && workroles.length; else noResultsTemplate"
  >
    <virtual-scroller
      #scroll
      [style.height]="scrollerHeight"
      [bufferAmount]="7"
      [enableUnequalChildrenSizes]="true"
      [items]="workroles"
      >
          <li
              class="org-dropdown_list-item"
              *ngFor="let role of scroll.viewPortItems"
              (click)="selectedWorkrole = role; closeDropdown();"
          >
              {{ role.work_role }}
          </li>
      </virtual-scroller>
  </ng-container>
</ng-template>

<!--Task dropdown template-->
<ng-template #taskResultsTemplate>
  <ng-container
    *ngIf="tasks && tasks.length; else noResultsTemplate"
  >
    <virtual-scroller
      #scroll
      [style.height]="scrollerHeight"
      [bufferAmount]="7"
      [enableUnequalChildrenSizes]="true"
      [items]="tasks"
      >
          <li
              class="org-dropdown_list-item"
              *ngFor="let task of scroll.viewPortItems"
              (click)="selectedTask.push(task); closeDropdown();"
          >
              {{ task.element_id | titlecase }} - {{ task.description }}
          </li>
      </virtual-scroller>
  </ng-container>
</ng-template>

<!--Loading template-->
<ng-template #loadingTemplate>
  <span class="org-dropdown__message">
    <i class="far fa-spinner-third fa-spin">
      Loading
    </i>
  </span>
</ng-template> 

<!--No Results Template-->
<ng-template #noResultsTemplate>
  <div class="other-box">
    <li class="other-option">
      No Results Found
    </li>
  </div>
</ng-template>