.competency_edit-behavior-container {
    display: flex;
    flex-direction: column;
    label{
      font-size: 18px;
      font-weight: 400;
      color: #1F2228;
    }
    input{
      height: 40px;
      width: 550px;
      border: 1px solid;
      border-color: #C6CBD2;
      border-radius: 6px;
      margin-top: 10px;
      font-family: Arial;
      font-size: 14px;
      padding: 0px 15px;
    }
    textarea{
      width: 550px;
      height: 130px;
      border: 1px solid;
      border-color: #C6CBD2;
      border-radius: 6px;
      margin-top: 10px;
      font-family: Arial;
      font-size: 14px;
      padding: 15px;
    }
    .task{
      margin-top: 30px;
    }
    .task_description{
      margin-top: 30px;
    }

    .task_pill_container {
        position: relative;
        width: fit-content;
        padding: 5px;
        color: hsl(226, 43%, 34%);
        background-color: hsl(0, 0%, 100%);
        border: 1px solid hsl(226, 43%, 44%);
        border-radius: 3px;
        display: block;

        .task-delete {
            color: hsl(5, 73%, 46%);
            cursor: pointer;
            border: none;
            background-color: transparent;
            border-radius: 3px;
        
            &:hover,
            &:focus {
              color: white;
              background: hsl(5, 73%, 46%);
        
              .svg-inline--fa,
              .icon {
                color: white;
              }
            }
        }
    }
}
