<!-- Toggle template for edit and viewing condition-->
<ng-container *ngIf="!isEdit; then viewConditionTemplate else editConditionTemplate"></ng-container>

<!--View Condition Template-->
<ng-template #viewConditionTemplate>
    <p>con go brrrr</p>
</ng-template>

<!--Edit Condition Template-->
<ng-template #editConditionTemplate>
    <mat-expansion-panel [expanded]="true" (opened)="setStep(2)">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Condition
        </mat-panel-title>
        <mat-panel-description>
            Inform the date you wish to travel
            <mat-icon>date_range</mat-icon>
        </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill" color="primary">
            <mat-label>Technology</mat-label>
            <textarea matInput [formControl]="tech"></textarea>
            <mat-error *ngIf="tech.invalid">Yeetus check tech</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="fill" color="primary">
            <mat-label>Limitations</mat-label>
            <textarea matInput [formControl]="limitations"></textarea>
            <mat-error *ngIf="limitations.invalid">Yeetus check limits</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" color="primary">
            <mat-label>Documentation</mat-label>
            <textarea matInput [formControl]="documentation"></textarea>
            <mat-error *ngIf="documentation.invalid">Yeetus check docs</mat-error>
        </mat-form-field>

        <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()" [disabled]="tech.invalid || limitations.invalid || documentation.invalid">Update Condition</button>
        </mat-action-row>

    </mat-expansion-panel>
</ng-template>