<form>
  <div ccDragAndDrop class="drop-zone" (fileOver)="handleFileOver($event)" (fileDropped)="handleFileDropped($event)">
    <div *ngIf="!fileOver else dropFile">
      <input (change)="handleFileThroughInput($event)" type="file" />
      <div class="upload_text">
        <i class="fas fa-file-upload fa-3x"></i>
        <h3>Drag and Drop a File Here!</h3>
        <p>Or click here to add a file</p>
      </div>

    </div>

  </div>
  <div class="file-list" *ngFor="let file of files; let i = index">
    <div class="file">
      <div class="file-left">
        <i class="fas fa-file fa-2x"></i>
        <p class="file-name">File {{ i + 1 }}: {{ file.name }} </p>
      </div>
      <div class="file-right" (click)="removeFile(file)">
        <i class="fal fa-trash-alt"></i>
      </div>
      
    </div>

  </div>
</form>

<ng-template #dropFile>
  <p>Dragged file detected!</p>
</ng-template>