@use 'sass:map';
@use '@angular/material' as mat;

$color-config:  mat.get-color-config($theme);

h1 {
    margin: 20px auto;
    font-size: 48pt;
    text-align: center;
    color: $color-config('primary')
}