.navigation {
    margin: 20px;
    min-height: 50px;
    .title {
        color: #fff;
        float: left;
        
        h1 {
            padding-top: 5px;
            font-size: 36px;
        }
    }
    .logout {
        float: right;
        color: #fff;
        border: 2px solid #fff;
    }
}
.wrapper {
    padding: 40px;
    background-color: white;
    height: 100vh;

    .header {
        padding-bottom: 20px;
        display: inline-block;
        width: 100%;

        h1 {
            float: left;
            font-size: 36px;
            color: #424242;
            font-weight: 600;
        }
        .add-button {
            float: right;
        }
    
    }

}
.competency-card {
    padding: 10px;

    .competency {
        max-width: 80%;
        float: left;
    }

    .actions {
        width: 20%;
        float: right;
        right: 0;
        padding: 10px 0;

        button {
            float: right;
        }
    }
}

mat-card {
    color: #424242;
    background: transparent;
    border-radius: 3px;
    overflow: hidden;
}

.builder {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form {
        width: 100%;
        .example-form {
            min-width: 150px;
            max-width: 400px;
            width: 100%;
        }

        .notice-bar {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 10px;

            span {
                margin-left: 5px;
            }
        }
          
        .example-full-width {
            width: 100%;
        }

        mat-form-field {
            width: 100%;
        }
    }
}

.competency-example {
    color: white;
}

.float-right {
    float: right;

    .logout {
        border: 2px solid #C2175B;
    }
}