<h1>Competencies</h1>
<div *ngFor="let competency of competencies" class="competency-card">

</div>
<mat-card><mat-card-title>Competency 1</mat-card-title></mat-card>
<mat-card><mat-card-title>Competency 2</mat-card-title></mat-card>
<mat-card><mat-card-title>Competency 3</mat-card-title></mat-card>
<mat-card><mat-card-title>Competency 4</mat-card-title></mat-card>
<mat-card><mat-card-title>Competency 5</mat-card-title></mat-card>
<mat-card><mat-card-title>Competency 6</mat-card-title></mat-card>


