<div class="navigation">
    <div class="title">
        <h1>Competency Constructor ( )</h1>
    </div>
    <button mat-button color="accent" class="logout" aria-label="logout" (click)="logout()">Logout</button>
</div>
<div class="wrapper">
    <div class="header">
        <h1>Competencies</h1>
        <button mat-mini-fab color="primary" class="add-button" aria-label="Open builder" matTooltip="Add Competency" (click)="openCompetencyBuilder()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div *ngFor="let competency of competencies" class="competency-card">
        <mat-card>
            <div class="competency">
                {{ competency?.audience }} {{ competency?.condition }} {{ competency?.behavior }} {{ competency?.degree }} {{ competency?.effectiveness }}.
            </div>
            <!-- Remove the actions options for Cali 03-07-2022 -->
            <!-- <div class="actions">
                <button *ngIf="!competency.locked" mat-mini-fab color="secondary" aria-label="Open builder" matTooltip="Edit competency" (click)="openCompetencyBuilder(competency)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="competency.locked" mat-mini-fab color="warn" aria-label="Competency currently being edited. Try again later." matTooltip="Competency currently being edited. Try again later.">
                    <mat-icon>close</mat-icon>
                </button>
            </div> -->
        </mat-card>
    </div>
</div>


