<div class="builder">
    <div class="header">
        <div></div>
        <button mat-icon-button aria-label="close dialog" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="form">
        <h1>Competency Builder Form</h1>
        <div class="notice-bar" *ngIf="errorMessage && isDisabled">
          <mat-icon>error_outline</mat-icon>
          <span>All fields must  be complete</span>
        </div>
        <form class="example-form">
            <mat-form-field appearance="fill" color="primary">
                <!--Audience Fields -->
                <mat-label>Audience</mat-label>
                <mat-select [(ngModel)]="data.audience" [formControl]="audience">
                  <mat-optgroup label="Yeet">
                    <mat-option value="The undergraduate student">The Undergraduate Student</mat-option>
                  </mat-optgroup>
                  <mat-optgroup label="other yeet">
                    <mat-option value="The graduate student">The Graduate Student</mat-option>
                    <mat-option value="The working professional">The Professional</mat-option>
                    <mat-option value="The student">The student</mat-option>
                  </mat-optgroup>
                  <!--
                    The student
                  -->
                </mat-select>
                <mat-error *ngIf="audience.invalid">{{getErrorMessage(audience)}}</mat-error>
              </mat-form-field>
              <br>
              <!--Condition Fields-->
              <mat-form-field appearance="fill" color="primary">
                <mat-label>Condition</mat-label>
                <textarea matInput [(ngModel)]="data.condition" [formControl]="condition"></textarea>
                <mat-error *ngIf="condition.invalid">{{getErrorMessage(condition)}}</mat-error>
              </mat-form-field>
              <br>
              <!--Behavior Fields-->
              <mat-form-field appearance="fill" color="primary">
                <mat-label>Behavior</mat-label>
                <textarea matInput [(ngModel)]="data.behavior" [formControl]="behavior"></textarea>
                <mat-error *ngIf="behavior.invalid">{{getErrorMessage(behavior)}}</mat-error>
              </mat-form-field>
              <br>
              <!--Degree Fields-->
              <mat-form-field appearance="fill" color="primary">
                <mat-label>Degree</mat-label>
                <input matInput [(ngModel)]="data.degree" [formControl]="degree">
                <mat-error *ngIf="degree.invalid">{{getErrorMessage(degree)}}</mat-error>
              </mat-form-field>
              <!--
                minutes
                hours
                days
                weeks
                months

                --
                unit
                course
                semester
              -->
              <br>
              <!--Effectiveness Fields-->
              <mat-form-field appearance="fill" color="primary">
                <mat-label>Effectiveness</mat-label>
                <input matInput [(ngModel)]="data.effectiveness" [formControl]="effectiveness">
                <mat-error *ngIf="effectiveness.invalid">{{getErrorMessage(effectiveness)}}</mat-error>
              </mat-form-field>
              <br>
              <!--Example Stuff -->
              <!-- Fix this if this is awful -->
              <h3 *ngIf="data?.audience !== ''" class="competency-example">
                {{ data?.audience }} {{ data?.condition }} {{ data?.behavior }} {{ data?.degree }} {{ data?.effectiveness }}.
              </h3>
              <!--Dialog Fields-->
              <div mat-dialog-actions>
                <button mat-button color="accent" (click)="onNoClick()">No Thanks</button>
                <button mat-button color="primary" [mat-dialog-close]="data" [disabled]="isDisabled" cdkFocusInitial>Ok</button>
              </div>  
          </form>
    </div>
</div>
