<div mat-dialog-title class="header">
  <h2 mat-dialog-title>Insert Competency Title Here</h2>
  <a mat-dialog-close>
    <i class="far fa-times"></i>
  </a>
</div>

<mat-dialog-content>
  <h2>Actor</h2>
  <p><b>Type:</b> Undergraduate</p>
  <p><b>Details:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <h2>Behavior</h2>
  <p><b>Workrole:</b> Database Administrator</p>
  <p><b>Task:</b> K0004: Knowledge of cybersecurity and privacy principles.</p>
  <p><b>Details:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  <h2>Condition</h2>
  <p><b>Situation:</b> Database Administrator</p>
  <p><b>Limitations:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div>
    <p><b>Technology:</b></p>
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
    </ul>
  </div>
  <div>
    <p><b>Documentation:</b></p>
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
    </ul>
  </div>
  <h2>Degree</h2>
  <p><b>Time:</b> Lorem ipsum dolor sit amet</p>
  <p><b>Completeness:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p><b>Correctness:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <h2>Employability</h2>
  <div>
    <p><b>Skills:</b></p>
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
    </ul>
  </div>
  <h2>Notes</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
</mat-dialog-content>

<mat-dialog-actions>
  <p>Submitted Aug 9, 983</p>
  <button>Update Submission</button>
</mat-dialog-actions>