@import "vars";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: color-gray(8);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 10px 20px;

  h2 {
    margin: 0;
  }

  button {
    background-color: inherit;
    color: inherit;
    border: 0px;
    margin-right: 5px;
    padding: 5px 10px;

    &:hover {
      cursor: pointer;
    }

    &:active {
      opacity: 0.5;
      border-radius: 1000px;
    }
  }

  &.admin {
    color: white;

    p {
      margin: 0
    }

    .right-corner {
      display: flex;

      .status {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 50px;
  
        p {
          font-size: font();
          margin-left: 5px;
        }
      }
    }
  }

  &.draft {
    background-color: #8E0080;
  }

  &.submitted {
    background-color: #2168BA;
  }

  &.published {
    background-color: #0B861F;
  }

  &.deprecated {
    background-color: #525252;
  }

  &.rejected {
    background-color: #B71515;
  }
}

.content {
  padding: 0 40px;
  height: 75%;
  overflow-y: scroll;
  overflow-wrap: break-word;
  hyphens: auto;

  .content-section {
    padding: 20px 0;
  }

  .bottom-bordered {
    border-bottom: 1px solid color-gray(7);
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 25px 10px 0;

  button {
    padding: 15px 20px;
    border: 1px solid color-gray(6);
    border-radius: 5px;
    margin-right: 25px;

    &.submit {
      border: 0px;
      background-color: color-accent();
      color: white;
      box-shadow: 0px 2px 5px color-accent();
  
      &:hover {
        cursor: pointer;
      }
  
      &:active {
        background-color: color-accent("lighter");
      }
    }
  }
}