<div class="header">
  <h2>Insert Competency Title Here</h2>
  <button (click)="close.emit()">
    <i class="far fa-times fa-2x"></i>
  </button>
</div>

<div class="content">
  <div class="actor bottom-bordered content-section">
    <h2>Actor</h2>
    <p><b>Type:</b> {{ competency.actor.type ? competency.actor.type : "No type specified." }}</p>
    <p><b>Details:</b> {{ competency.actor.details ? competency.actor.details : "No details specified."}}</p>
  </div>
  <div class="behavior bottom-bordered content-section">
    <h2>Behavior</h2>
    <p><b>Workrole:</b> {{ competency.behavior.work_role ? competency.behavior.work_role : "No workrole specified."}}</p>
    <!-- Ask about tasks -->
    <div>
      <p><b>Tasks:</b></p>
      <ul>
        <li *ngFor="let task of competency.behavior.tasks">{{ task }}</li>
        <ng-container *ngIf="!competency.behavior.tasks.length" [ngTemplateOutlet]="noTasks"></ng-container>
      </ul>
    </div>
    <p><b>Details:</b> {{ competency.behavior.details ? competency.behavior.details : "No details specified." }}</p>
  </div>
  <div class="condition bottom-bordered content-section">
    <h2>Condition</h2>
    <p><b>Situation:</b> {{ competency.condition.scenario ? competency.condition.scenario : "No scenario specified"}}</p>
    <p><b>Limitations:</b> {{ competency.condition.limitations ? competency.condition.limitations : "No limitations specified."}}</p>
    <div>
      <p><b>Technology:</b></p>
      <ul>
        <li *ngFor="let tech of competency.condition.tech">{{ tech }}</li>
        <ng-container *ngIf="!competency.condition.tech.length" [ngTemplateOutlet]="noTech"></ng-container>
      </ul>
    </div>
    <div>
      <p><b>Documentation:</b></p>
      <ul>
        <li *ngFor="let doc of competency.condition.documentation">{{ doc.uri ? doc.uri : "No URI specified." }}</li>
        <ng-container *ngIf="!competency.condition.documentation.length" [ngTemplateOutlet]="noDocs"></ng-container>
      </ul>
    </div>
  </div>
  <div class="degree bottom-bordered content-section">
    <h2>Degree</h2>
    <p><b>Time:</b> {{ competency.degree.time ? competency.degree.time : "No time specified."}}</p>
    <p><b>Completeness:</b> {{ competency.degree.complete ? competency.degree.complete : "No completeness specified."}}</p>
    <p><b>Correctness:</b> {{ competency.degree.correct ? competency.degree.correct : "No correctness specified." }}</p>
  </div>
  <div class="employability bottom-bordered content-section">
    <h2>Employability</h2>
    <p>{{ competency.employability.details ? competency.employability.details : "No details specified."}}</p>
  </div>
  <div class="notes content-section">
    <h2>Notes</h2>
    <p>{{ competency.notes.details ? competency.notes.details : "No notes specified."}}</p>
  </div>
</div>

<div class="footer">
  <!-- TODO: Add submitted date once event logs are implemented -->
  <!-- <p>Submitted December 32, 2133</p> -->
  <button (click)="onUpdateSubmission()" class="submit">UPDATE SUBMISSION</button>
</div>

<ng-template #noTasks>
  <p>No tasks specified.</p>
</ng-template>

<ng-template #noDocs>
  <p>No documentation specified.</p>
</ng-template>

<ng-template #noTech>
  <p>No technology specified.</p>
</ng-template>