@import "vars";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: color-gray(8);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 10px 20px;

  position: sticky;
  top: 0;

  h2 {
    margin: 0;
  }

  button {
    background-color: inherit;
    color: inherit;
    border: 0px;
    margin-right: 5px;
    padding: 5px 10px;

    &:hover {
      cursor: pointer;
    }

    &:active {
      opacity: 0.5;
      border-radius: 1000px;
    }
  }

  &.admin {
    color: white;

    p {
      margin: 0
    }

    .right-corner {
      display: flex;

      .status {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 50px;
  
        p {
          font-size: font();
          margin-left: 5px;
        }
      }
    }
  }

  &.draft {
    background-color: $draft-light;
  }

  &.submitted {
    background-color: $submitted-light;
  }

  &.published {
    background-color: $published-light;
  }

  &.deprecated {
    background-color: $deprecated-light;
  }

  &.rejected {
    background-color: $rejected-light;
  }
}

.content {
  padding: 0 40px;
  overflow-wrap: break-word;
  hyphens: auto;

  .content-section {
    padding: 20px 0;
  }

  .bottom-bordered {
    border-bottom: 1px solid color-gray(7);
  }
}

.builder-content{
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 0;
  width: 580px;
}


.footer {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  background-color: white;

  button {
    padding: 15px 20px;
    border: 1px solid color-gray(6);
    border-radius: 5px;
    margin-right: 25px;
    background-color: #F8F8F8;

    &.submit {
      border: 0px;
      background-color: color-accent();
      margin: 10px 50px 25px 0;
      color: white;
      box-shadow: 0px 6px 12px -6px color-accent();
  
      &:hover {
        cursor: pointer;
        transform: scale(1.025);
        transition: all .15s ease-out;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.content-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .fa-edit{
    margin-bottom: 16px;
    &:hover{
      cursor: pointer;
    }
  }

  .hidden{
    display: none;
  }
}