@import "vars";

.content {
  margin: 0 25px;
  overflow-y: auto;
  overflow-wrap: break-word;
  hyphens: auto;

  .content-section {
    padding: 20px 0;
  }

  .bottom-bordered {
    border-bottom: 1px solid color-gray(7);
  }
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  position: sticky;
  bottom: 0;
  right: 0;
  background: white;

  .submit {
    padding: 15px 20px;
    border: 0px;
    border-radius: 5px;
    background-color: color-accent();
    margin: 10px 50px 25px 0;
    color: white;
    box-shadow: 0px 6px 12px -6px color-accent();

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: color-accent("lighter");
    }
  }
}