@import 'vars.scss';

.resetPassword-wrapper {
    width: 300px;
    text-align: center;
    margin: 50px auto;
}

mat-form-field {
    display: block;
    margin-top: 10px;
    color: white
}

h1 {
    margin-bottom: 0px !important;
}

button{
    margin: 0 10px;
}
