<div class="resetPassword-wrapper">
    <div class="logo">
        <img src="../../../assets/CompetencyConstructor_Logo_Transparent.png" alt="Competency Constructor Logo">
    </div>
    <h1>Reset Password</h1>
    <form (ngSubmit)="onSubmit()">
        <cc-text-field
            animate
            [value]="passwords.get('password')!.value"
            (valueChange)="passwords.get('password')!.setValue($event)"
            [required]="true"
            [block]="true"
            label="Password"
            type="password"
            [isValid]="!passwords.get('password')!.invalid"
            [showValidity]="true"
            [error]="authvalidationService.getInputErrorMessage(passwords.get('password')!)!"
            [autocomplete]="'new-password'"
            [allowShowPasswordOption]="true"
        ></cc-text-field>
        <cc-text-field
            animate
            [value]="passwords.get('confirmPassword')!.value"
            (valueChange)="passwords.get('confirmPassword')!.setValue($event)"
            [required]="true"
            [block]="true"
            label="Verify Password"
            type="password"
            [isValid]="passwords.get('confirmPassword')!.valid"
            [showValidity]="true"
            [error]="authvalidationService.getInputErrorMessage(passwords.get('confirmPassword')!)!"
            [autocomplete]="'new-password'"
            [allowShowPasswordOption]="true"
        ></cc-text-field>
        <button mat-raised-button color="primary" type="submit">RESET PASSWORD</button>
    </form>
</div>