<div class="wrapper">
   <div *ngIf="!done" class="first-view" @fadeIn>
    <h1>Reset Password</h1>
    <form (ngSubmit)="onSubmit()">
        <competency-input-field
            name="Password"
            isPwrd="true"
            phold="Password"
            [control]="passwords.get('password')"
            #password
            ngModel
            >
        </competency-input-field>
        
        <competency-input-field
            name="confirmPassword"
            isPwrd="true"
            phold="Confirm Password"
            [control]="passwords.get('confirmPassword')"
            #confirmPassword 
            ngModel
             >
        </competency-input-field> 
        <button>Reset Password</button>
        </form>

        </div>

        <div *ngIf="done" class="second-view" @fadeIn>
            <!-- <i class="fas fa-check-circle fa-5x"></i> -->
            <h2>Password Reset!</h2>
            <!--<button routerLink="../login">Login</button>-->
        </div>
        

    </form>
   </div>
</div> 
