<footer>
    <div class="footer-info">
      <section class="links">
        <div>
          <h3>Platform</h3>
          <!--TODO: add accessibility statement-->
          <a aria-label="Clickable Privacy Notice link" href="https://secured.team/privacy-policy/" target="_blank">{{ copy.PRIVACY }}</a>
          <a [routerLink]="['/system/termsofservice']" aria-label="Clickable Terms of Service link" target="_blank" rel="noopener noreferrer">{{ copy.TERMS }}</a>
        </div>
        <div>
          <h3>Help</h3>
          <!--TODO: add eHanbook for competencies-->
          <a aria-label="Clickable Ask for Help link" href="mailto:info@secured.team?subject=Competency Constructor Help">{{ copy.HELP_EMAIL }}</a>
          <a [routerLink]="['/help']" aria-label="Clickable Help page link" rel="noopener noreferrer">{{ copy.HELP_PAGE }}</a>
        </div>
        <div>
          <h3>General Information</h3>
          <!--TODO: add about cc section-->
          <a aria-label="Clickable Meet the Team link" href="http://secured.team/team" target="_blank" rel="noopener noreferrer">{{ copy.TEAM }}</a>          
        </div>
      </section>
    </div>
    <div class="grants">
      <div class="images bottom">
        <div class="logo-wrapper">
          <img alt="National Security Agency Logo" src="../../../../assets/nsa.png" />
        </div>
        <div class="logo-wrapper">
          <a href="https://www.csusb.edu/" target="_blank" aria-label="CSUSB home page">
            <img src="../../../../assets/csusb_logo_white.png" class="csusb" alt="CSUSB Logo">
          </a>
        </div>
        <div class="logo-wrapper">
          <a href="https://www.norwich.edu/" target="_blank" aria-label="Norwich University home page">
            <img src="../../../../assets/Norwich_Logo_White_Vertical_No_Tag.png" alt="Norwich Logo">
          </a>
        </div>
        <div class="logo-wrapper">
          <a href="https://www.secured.team/" target="_blank">
            <img src="../../../../assets/secured.png" alt="SecurEd Inc. Logo" style="width: 115px;">
          </a> 
        </div>
      </div>
    </div>
    <p>{{ copy.SUPPORTEDBY }}</p>
  </footer>