<!--Degree Builder-->
<div class="competency_edit-degree-container">
  <ng-container *ngIf="currIndex === 5">
    <!--Time form filed-->
    <label>Time *</label>
    <div class="time_selector">
      <input [formControl]="time" class="time_input">
      <div class="dropdown">
        <div class="time_box" (click)="displayTime()">{{ timeSelected ? timeSelected.value : "Select a measure of time..." }}
          <div [ngClass]="timeDisplay ? 'hidden': 'arrow_down'">
            <i class="fas fa-angle-down fa-lg"></i>
          </div>
          <div [ngClass]="timeDisplay ? 'arrow_up': 'hidden'">
            <i class="fas fa-angle-up fa-lg"></i>
          </div>
        </div>
        <div [ngClass]="timeDisplay ? 'time_dropdown': 'hidden'">
          <ul class="time_list" (mouseleave)="displayTime()">
            <li *ngFor="let measure of timeList" (click)="this.timeSelected=measure; displayTime(); time.patchValue(time.value + ' - ' + measure.value)">{{ measure.value }}</li>
          </ul>
        </div>
      </div>
    </div>
    <!--Completeness form field-->
    <div class="completely_correct">
    <label class="completeness">Completeness *</label>
    <textarea placeholder="Enter your definition of the task being completed here." [formControl]="complete"></textarea>
    
    <!--Correctness form field-->
    <label class="correctness">Correctness *</label>
    <textarea placeholder="Enter your definition of the task being correct here." [formControl]="correct"></textarea>
    </div>
  </ng-container>
  <ng-container *ngIf="currIndex === 6">
    <cc-file-upload></cc-file-upload>
  </ng-container>
</div>