<!--Degree Builder-->
<div class="competency_edit-degree-container">
  <div *ngIf="templateIndex === 0">
    <!--Degree Description-->
    <div class="edit-degree_description">
      Identify the time, degree of completetion, and expectations of how much must be correct to gain this competency
    </div>
    <!--Time form filed-->
    <label>Time</label>
    <input [formControl]="time">
    <!--Completeness form field-->
    <label>Completeness</label>
    <input [formControl]="complete">
    <!--Correctness form field-->
    <label>Correctness</label>
    <input [formControl]="correct">
  </div>
  <div *ngIf="templateIndex === 1">
    <p>yeetus</p>
  </div>
</div>
