<div class="resetPassword-wrapper">
    <div class="logo">
        <img [routerLink]="['/dashboard']" src="../../../assets/CompetencyConstructor_Logo_Transparent.png" alt="Competency Constructor Logo">
    </div>
    <h1>Request Password Reset</h1>
    <form (ngSubmit)="onSubmit()">
        <cc-text-field
            animate
            [value]="emails.get('email')!.value"
            (valueChange)="emails.get('email')!.setValue($event)"
            [required]="true"
            [block]="true"
            label="Email"
            type="email"
            [isValid]="emails.get('email')!.valid"
            [showValidity]="true"
            [error]="authValidation.getInputErrorMessage(emails.get('email')!)!"
            [autocomplete]="'new-password'"
        ></cc-text-field>
        <cc-text-field
            animate
            [value]="emails.get('confirmEmail')!.value"
            (valueChange)="emails.get('confirmEmail')!.setValue($event)"
            [required]="true"
            [block]="true"
            label="Confirm Email"
            type="email"
            [isValid]="emails.get('confirmEmail')!.valid"
            [showValidity]="true"
            [error]="authValidation.getInputErrorMessage(emails.get('confirmEmail')!)!"
            [autocomplete]="'new-password'"
        ></cc-text-field>
        <button mat-raised-button color="primary" type="submit">REQUEST PASSWORD RESET</button>
    </form>
</div>