<!-- Toggle template for edit and viewing competency -->
<ng-container *ngIf="!isEdit; then viewAudienceTemplate else editAudienceTemplate"></ng-container>

<!--View Audience Template-->
<ng-template #viewAudienceTemplate>
  <h2>AUDIENCE</h2>
  <p>{{ type.value }}</p>
  <p>{{ details.value }}</p>
</ng-template>

<!--Edit Audience Template-->
<ng-template #editAudienceTemplate>
    <mat-expansion-panel  class="competency_edit-audience-container">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Audience
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!--Audience description-->
      <div class="edit-audience_description">
        Describe the person who will be learning/performing the competency and identitfy any pre-requisite levels of knowledge,
        courses studied or previous relevant activities.
      </div>
      <!--Audience type form field-->
      <mat-form-field appearance="fill" color="primary">
        <mat-label>Audience</mat-label>
        <input matInput [formControl]="type">
        <mat-error *ngIf="type.invalid">You must specify a target audience!</mat-error>
      </mat-form-field>
      <!--Audience description form field-->
      <mat-form-field appearance="fill" color="primary">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Provide a description for your audience" [formControl]="details"></textarea>
        <mat-error *ngIf="details.invalid">You must provide a description of your audience!</mat-error>
      </mat-form-field>
      <!--Update action row-->
      <mat-action-row>
        <button mat-button color="primary" (click)="updateAudience()" [disabled]="type.invalid || details.invalid">Update Audience</button>
      </mat-action-row>
    </mat-expansion-panel>
  </ng-template>
