<div class="cc-search">
    <div class="search-options">
      <form (submit)="performSearch(searchInput)">
        <div class="input">
          <input
            #searchInput
            name="searchInput"
            id="cc-search-input"
            type="search"
            placeholder="Search..."
            (ngModelChange)="togglePlaceholder()"
            aria-label="Search"
            [(ngModel)]="searchValue"
            autocomplete="off"
          />
          <button
            aria-label="Search"
            class="icon"
            (activate)="performSearch(searchInput)"
          >
          <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
