<cc-primary-nav [isAdmin]="true"></cc-primary-nav>
<div class="wrapper">
  <h2>Admin Dashboard</h2>
  <cc-search-bar></cc-search-bar>
  <div class="filter">
    <cc-filtering-dropdowns [title]="dropdownType.STATUS"></cc-filtering-dropdowns>
    <cc-filtering-dropdowns [title]="dropdownType.WORKROLE"></cc-filtering-dropdowns>
    <cc-filtering-dropdowns [title]="dropdownType.TASK"></cc-filtering-dropdowns>
    <cc-filtering-dropdowns [title]="dropdownType.ACTOR"></cc-filtering-dropdowns>
  </div>

  <div class="competency-wrapper">
    <ng-container *ngIf="!loading; then competencyTemplate; else loadingTemplate"></ng-container>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="competency-loading">
      <i class="far fa-spinner-third fa-spin"></i>
      Loading...
  </div>
</ng-template>

<ng-template #competencyTemplate>
  <!-- <div class="competency-card">
      <div class="competency-card-wrapper">
          <div *ngFor="let competency of loadedCompetencies" class="competency-card_container">
              <cc-competency-card
                  tabindex="0"
                  [competency]="competency"
                  (click)="openCompetencyPreview(competency)"
              ></cc-competency-card>
          </div>
      </div>
  </div>
  <div class="paginationCtrl">
      <ul>
          <li (click)="prevPage()" [ngClass]="{'gone': currPage <= 1}"><i class="fas fa-chevron-left" aria-label="Previous page of results" tabindex="0"></i> Back </li>
          <li *ngFor="let p of pages" [ngClass]="{'active': currPage === p}" (click)="goToPage(p)"  attr.aria-label="Page {{ p }} of results" tabindex="0">{{ p }}</li>
          <li (click)="nextPage()" [ngClass]="{'gone': currPage >= search.page}"> Next <i class="fas fa-chevron-right" aria-label="Next page of results" tabindex="0"></i></li>
      </ul>
  </div> -->
</ng-template>