<cc-primary-nav [isAdmin]="true"></cc-primary-nav>
<div class="wrapper">
  <h2>Admin Dashboard</h2>
  <cc-search-bar></cc-search-bar>
  <div class="filter">
    <cc-filtering-dropdowns [title]="dropdownType.STATUS"></cc-filtering-dropdowns>
    <cc-filtering-dropdowns [title]="dropdownType.WORKROLE"></cc-filtering-dropdowns>
    <cc-filtering-dropdowns [title]="dropdownType.TASK"></cc-filtering-dropdowns>
    <cc-filtering-dropdowns [title]="dropdownType.ACTOR"></cc-filtering-dropdowns>
  </div>
</div>