<ng-container class="competency-card_container">
  <form>
    <mat-accordion class="competency-constructor_accordion" [multi]="true"[togglePosition]="position">
      <!--Audience-->
      <cc-audience-card
        [competencyId] = "competencyId"
        [isEdit]="isEdit"
        [audience] = "competency.audience"
        (audienceChange) = "updateCompetency($event)"
      ></cc-audience-card>
      <!--Behavior-->
      <cc-behavior-card
        [competencyId] = "competencyId"
        [isEdit]="isEdit"
        [behavior] = "competency.behavior"
        (behaviorChange) = "updateCompetency($event)"
      ></cc-behavior-card>
      <!--Condition-->
      <cc-condition-card
        [competencyId] = "competencyId"
        [isEdit]="isEdit"
        [condition] = "competency.condition"
        (conditionChange) = "updateCompetency($event)"
      ></cc-condition-card>
      <!--Degree-->
      <cc-degree-card
        [competencyId] = "competencyId"
        [isEdit]="isEdit"
        [degree] = "competency.degree"
        (degreeChange) = "updateCompetency($event)"
      ></cc-degree-card>
      <!--Employability-->
      <cc-employability-card
        [competencyId] = "competencyId"
        [isEdit]="isEdit"
        [employability] = "competency.employability"
        (employabilityChange) = "updateCompetency($event)"
      ></cc-employability-card>
      <!--Notes-->
      <cc-notes-card
        [competencyId]="competencyId"
        [isEdit]="isEdit"
        [notes]="competency.notes"
        (notesChange)="updateCompetency($event)"
      ></cc-notes-card>
    </mat-accordion>
  </form>
</ng-container>