.builder {

    .example-headers-align .mat-expansion-panel-header-title,
    .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
    }

    .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    }

    .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
    }

  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .form {
      width: 100%;
      .example-form {
          width: 100%;
      }

      .notice-bar {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-bottom: 10px;

          span {
              margin-left: 5px;
          }
      }
        
      .example-full-width {
          width: 100%;
      }

      mat-form-field {
          width: 100%;
          padding-bottom: 10px;

          &.unit {
              padding: 0 0 15px 5px;
          }
      }

      .degree-fields {
          display: flex;
          flex-direction: row;
      }
  }
}

.competency-example {
  color: white;
  min-height: 80px;
}

.float-right {
  float: right;

  .logout {
      border: 2px solid #C2175B;
  }
}