<ng-container class="competency-card_container">
  <form>
    <mat-accordion class="competency-constructor_accordion">
      <!--Audience-->
      <cc-audience-card
        [isEdit]="isEdit"
        [currIndex] = "currIndex"
        (setIndex) = "setView($event)"
        (nextView) = "nextView()"
        [audience] = "COMPETENCY.data.competency.audience"
        (audienceChange) = "updateCompetency($event)"
      ></cc-audience-card>
      <!--Behavior-->
      <cc-behavior-card
        [isEdit]="isEdit"
        [currIndex] = "currIndex"
        (setIndex) = "setView($event)"
        (nextView) = "nextView()"
        (prevView) = "prevView()"
        [behavior] = "COMPETENCY.data.competency.behavior"
        (behaviorChange) = "updateCompetency($event)"
      ></cc-behavior-card>
      <!--Condition-->
      <cc-condition-card
        [isEdit]="isEdit"
        [currIndex] = "currIndex"
        (setIndex) = "setView($event)"
        (nextView) = "nextView()"
        (prevView) = "prevView()"
        [condition] = "COMPETENCY.data.competency.condition"
        (conditionChange) = "updateCompetency($event)"
      ></cc-condition-card>
      <!--Degree-->
      <cc-degree-card
        [isEdit]="isEdit"
        [currIndex] = "currIndex"
        (setIndex) = "setView($event)"
        (nextView) = "nextView()"
        (prevView) = "prevView()"
        [degree] = "COMPETENCY.data.competency.degree"
        (degreeChange) = "updateCompetency($event)"
      ></cc-degree-card>
      <!--Employability-->
      <cc-employability-card
        [isEdit]="isEdit"
        [currIndex] = "currIndex"
        (setIndex) = "setView($event)"
        (nextView) = "nextView()"
        (prevView) = "prevView()"
        [employability] = "COMPETENCY.data.competency.employability"
        (employabilityChange) = "updateCompetency($event)"
      ></cc-employability-card>
    </mat-accordion>
  </form>
</ng-container>
