
.login-wrapper {
    width: 300px;
    text-align: center;
    margin: 50px auto;

    mat-form-field {
        display: block;
        color: white
    }

    button {
        margin: 0 5px;
    }
}