<!-- Toggle template for edit and viewing competency -->
<ng-container *ngIf="!isEdit; then viewActorTemplate else editActorTemplate"></ng-container>

<!--View Actor Template-->
<ng-template #viewActorTemplate>
  <h2>ACTOR</h2>
  <p>{{ type.value }}</p>
  <p>{{ details.value }}</p>
</ng-template>

<!--Edit Actor Template-->
<ng-template #editActorTemplate>
    <mat-expansion-panel  class="competency_edit-actor-container">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Actor
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!--Actor description-->
      <div class="edit-actor_description">
        Describe the person who will be learning/performing the competency and identitfy any pre-requisite levels of knowledge,
        courses studied or previous relevant activities.
      </div>
      <!--Actor type form field-->
      <mat-form-field appearance="fill" color="primary">
        <mat-label>Actor</mat-label>
        <input matInput [formControl]="type">
        <mat-error *ngIf="type.invalid">You must specify a target actor!</mat-error>
      </mat-form-field>
      <!--Actor description form field-->
      <mat-form-field appearance="fill" color="primary">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Provide a description for your actor" [formControl]="details"></textarea>
        <mat-error *ngIf="details.invalid">You must provide a description of your actor!</mat-error>
      </mat-form-field>
      <!--Update action row-->
      <mat-action-row>
        <button mat-button color="primary" (click)="updateActor()" [disabled]="type.invalid || details.invalid">Update Actor</button>
      </mat-action-row>
    </mat-expansion-panel>
  </ng-template>
