<div class="navigation">
    <div class="title">
        <h2>Competency Constructor ( ) {{ '{' }}  {{ '}' }}</h2> 
        <h5>The Competency Constructor is a proof of concept application that follows the ABCDE model of the CAE-C Evidencing Competency Working Group</h5>
        <a class="feedback" href="mailto:info@secured.team?subject=Competency Constructor Feedback">Provide Feedback to info@secured.team</a>
    </div>
    <button mat-button color="accent" class="logout" aria-label="logout" (click)="logout()">Logout</button>
</div>
<div class="wrapper">
    <div class="header">
        <h1>Competencies</h1>
        <button mat-mini-fab color="primary" class="add-button" aria-label="Open builder" matTooltip="Add Competency" (click)="openCompetencyBuilder()">
            <mat-icon>add</mat-icon>
        </button>
        <div class="filter-container">
            <button mat-raised-button color="warn" class="filter-button" *ngIf="filterApplied" aria-label="Clear Filters" matTooltip="Clear Filters" (click)="clearFilters()">CLEAR FILTERS</button>
            <button mat-raised-button class="filter-button" aria-label="Filter Workroles" matTooltip="Filter Workroles" [matMenuTriggerFor]="workrole">Workrole  &nbsp; <mat-icon>filter_list</mat-icon></button>
            <mat-menu #workrole="matMenu">
                <!-- <button mat-menu-item  *ngFor="let obj of niceFramework" (click)="addFilter(obj.workrole, 1)">{{obj.workrole | titlecase }}</button> -->
            </mat-menu>
            <button mat-raised-button class="filter-button" aria-label="Filter Tasks" matTooltip="Filter Tasks" [matMenuTriggerFor]="tasks">Tasks &nbsp; <mat-icon>filter_list</mat-icon></button>
            <mat-menu #tasks="matMenu">
                <!-- <button mat-menu-item *ngFor="let obj of competencies" (click)="addFilter(obj.taskId, 3)">{{obj.taskId}}</button> -->
            </mat-menu>
            <button mat-raised-button class="filter-button" aria-label="Filter actor" matTooltip="Filter Actor" [matMenuTriggerFor]="aud">Actor &nbsp; <mat-icon>filter_list</mat-icon></button>
            <mat-menu #aud="matMenu">
                <!-- <button mat-menu-item *ngFor="let obj of actor" (click)="addFilter(obj, 2)">The {{obj | titlecase }}</button> -->
            </mat-menu>
        </div>
    </div>
    <ng-container *ngIf="!loading; then competencyTemplate; else loadingTemplate"></ng-container>
    <cc-file-upload competencyId="63cec48c1587270f4728fe9f"></cc-file-upload>
</div>

<ng-template #loadingTemplate>
    <div class="competency-loading">
        <i class="far fa-spinner-third fa-spin"></i>
        Loading Competencies...
    </div>
</ng-template>

<ng-template #competencyTemplate>
    <div class="competency-card">
        <div *ngFor="let competency of loadedCompetencies" class="competency-card_container">
            <cc-competency-card
                [competency]="competency"
                [isEdit]="false"
                (isSavable)="isSavable"
            ></cc-competency-card>
            <button (click)="deleteCompetency(competency._id)">DELETE</button>
        </div>
    </div>
</ng-template>
