<!-- Toggle template for edit and viewing condition-->
<ng-container class="competency_edit-condition-container">
    <ng-container *ngIf="templateIndex === 0">
        <!--Scenario form field-->
        <label>Scenario</label>
        <textarea matInput [formControl]="scenario"></textarea>
        <!--Limitations form field-->
        <label>Limitations</label>
        <textarea matInput [formControl]="limitations"></textarea>
    </ng-container>
    <ng-container *ngIf="templateIndex === 1">
        <!--Technology form field-->
        <mat-form-field appearance="fill" color="primary">
            <mat-label>Technology</mat-label>
            <input
                placeholder="Add a new technology..."
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputFor]="techList"
                (matChipInputTokenEnd)="addTechnology($event)"
            >
            <mat-chip-list #techList aria-label="Technology keywords" multiple [formControl]="tech">
                <mat-chip
                    *ngFor="let tech of technology"
                    [selected]="tech"
                    [value]="tech"
                    (removed)="removeTechnology(tech)" color="accent" selected>
                    {{ tech }}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-list>
        </mat-form-field>
    </ng-container>
    <ng-container *ngIf="templateIndex === 2">
        <p>yeet 3</p>
        <!--Documenation form filed-->
        <cc-file-upload></cc-file-upload>
    </ng-container>
</ng-container>
