<!--Actor Builder-->
<!--Actor type form field-->
<div class="actor_input">
  <label>Actor <a 
    [tip]=" 'Click here to go to Actor description in e-handbook' "
    href="https://caecommunity.org/sites/default/files/national_centers/CYBER_EDU_Competency_Handbook_2023.pdf#page=8"
    target="_blank"
    ><i class="fas fa-info-circle"></i></a></label>
  <br>
  <label>Type *</label>
  <div class="actor_box" (click)="displayActors()">
    {{ actorSelected ? actorSelected.value : 'Select an actor' }}
    <div [ngClass]="actorDisplay ? 'hidden': 'arrow_down'">
      <i class="fas fa-angle-down fa-lg"></i>
    </div>
    <div [ngClass]="actorDisplay ? 'arrow_up': 'hidden'">
      <i class="fas fa-angle-up fa-lg"></i>
    </div>
  </div>
  <div [ngClass]="actorDisplay ? 'actor_dropdown': 'hidden'">
    <ul class="actor_list">
      <li *ngFor="let actor of actorList" (click)="this.actorSelected=actor; displayActors(); type.patchValue(true)">{{
        actor.value }}</li>
    </ul>
  </div>
</div>
<div class="description_input">
  <label class="description">Description</label>
  <cc-tiny-editor 
    [placeholder]="'Provide a description for your actor.'"
    [data]="details"
  ></cc-tiny-editor>
</div>