@import "vars";

label {
    font-size: 18px;
    font-weight: 400;
    color: color-gray(1);

}

.actor_input {
    display: flex;
    flex-direction: column;


    .actor_box {
        height: 40px;
        width: 550px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid;
        border-color: color-gray(7);
        border-radius: 6px;
        margin-top: 10px;
        font-family: Arial;
        font-size: 14px;
        padding: 0px 15px;

        .fa-angle-down, .fa-angle-up{
            justify-content: end;
        }

        &:hover {
            cursor: pointer;
        }
    }

}

.hidden {
    display: none;
}

.actor_dropdown{
    list-style: none;
    padding-left: 0;
    margin-top: 71px;
    display: inline;
    z-index: 2;
    position: absolute;
    width: 580px;
    background: white;
    border: 1px solid color-gray(7);
    box-shadow: 0px 10px 20px -10px color-gray(14);
    border-radius: 0px 0px 6px 6px;
    height: 180px;
    overflow-y: scroll;
}

.actor_list {
    list-style: none;
    padding-left: 0px;
    margin: 0;

    li {
        border-bottom: 1px solid color-gray(12);
        padding: 10px 25px;

        &:hover{
            cursor: pointer;
            background-color: color-accent("hover");
        }
    }
}


.description_input {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .description_box {
        width: 550px;
        height: 130px;
        border: 1px solid;
        border-color: color-gray(7);
        border-radius: 6px;
        margin-top: 10px;
        font-family: Arial;
        font-size: 14px;
        padding: 15px;
    }
}