label {
    font-size: 18px;
    font-weight: 400;
    color: #1F2228;

}

.actor_input {
    display: flex;
    flex-direction: column;
    

    .actor_box {
        height: 40px;
        width: 550px;
        border: 1px solid;
        border-color: #C6CBD2;
        border-radius: 6px;
        margin-top: 10px;
        font-family: Arial;
        font-size: 14px;
        padding: 0px 15px;
    }
}

.description_input {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .description_box {
        width: 550px;
        height: 130px;
        border: 1px solid;
        border-color: #C6CBD2;
        border-radius: 6px;
        margin-top: 10px;
        font-family: Arial;
        font-size: 14px;
        padding: 15px;
    }
}