<!--Actor Builder-->
<!--Actor type form field-->
<div class="actor_input">
  <label>Actor *</label>
  <div class="actor_box" (click)="displayActors()">
    {{ actorSelected ? actorSelected.value : 'Select an actor' }}
    <div [ngClass]="actorDisplay ? 'hidden': 'arrow_down'">
      <i class="fas fa-angle-down fa-lg"></i>
    </div>
    <div [ngClass]="actorDisplay ? 'arrow_up': 'hidden'">
      <i class="fas fa-angle-up fa-lg"></i>
    </div>
  </div>
  <div [ngClass]="actorDisplay ? 'actor_dropdown': 'hidden'">
    <ul class="actor_list" (mouseleave)="displayActors()">
      <li *ngFor="let actor of actorList" (click)="this.actorSelected=actor; displayActors(); type.patchValue(true)">{{ actor.value }}</li>
    </ul>
  </div>
</div>
<!--Actor description form field-->
<div class="description_input">
  <label>Description *</label>
  <textarea class="description_box" placeholder="Provide a description for your actor"
    [formControl]="details"></textarea>
</div>