<!--Actor Builder-->
<!--Actor type form field-->
<div class="actor_input">
  <label>Actor</label>
  <div class="actor_box" (click)="displayActors()">{{ actorSelected }}<i class="fas fa-angle-down fa-lg"></i></div>
  <div [ngClass]="actorDisplay ? 'actor_dropdown': 'hidden'">
    <ul class="actor_list">
      <li *ngFor="let actor of actorList" (click)="this.actorSelected=actor; displayActors()">{{ actor }}</li>
    </ul>
  </div>
</div>
<!--Actor description form field-->
<div class="description_input">
  <label>Description</label>
  <textarea class="description_box" placeholder="Provide a description for your actor"
    [formControl]="details"></textarea>
</div>