@use 'sass:list';

$palette-accent: (
  "lightest": hsl(219, 43%, 74%),
  "lighter": hsl(219, 43%, 54%),
  "default": hsl(219, 66%, 53%),
  "darker": hsl(219, 43%, 34%),
  "darkest": hsl(219, 43%, 24%),
);

@function color-accent($style: "default") {
  @return map-get($palette-accent, $style);
}

$palette-success: (
  "lightest": hsl(139, 47%, 70%),
  "lighter": hsl(139, 61%, 50%),
  "default": hsl(139, 61%, 40%),
  "darker": hsl(139, 61%, 30%),
  "darkest": hsl(139, 61%, 10%),
);

@function color-success($style: "default") {
  @return map-get($palette-success, $style);
}

$palette-danger: (
  "lightest": hsl(5, 81%, 76%),
  "lighter": hsl(5, 73%, 56%),
  "default": hsl(5, 73%, 46%),
  "darker": hsl(5, 73%, 36%),
  "darkest": hsl(5, 73%, 16%),
);

@function color-danger($style: "default") {
  @return map-get($palette-danger, $style);
}

$palette-warning: (
  "lightest": hsl(38, 100%, 80%),
  "lighter": hsl(38, 100%, 60%),
  "default": hsl(38, 100%, 50%),
  "darker": hsl(38, 100%, 40%),
  "darkest": hsl(38, 100%, 20%),
);

@function color-warning($style: "default") {
  @return map-get($palette-warning, $style);
}

$palette-gray: (
  1: hsl(220, 13%, 14%), 
  2: hsl(216, 5%, 40%),
  3: hsl(216, 12%, 42%),
  4: hsl(216, 12%, 56%),
  5: hsl(216, 12%, 64%),
  6: hsl(216, 12%, 70%),
  7: hsl(216, 12%, 80%),
  8: hsl(217, 12%, 90%),
);

$status_draft: linear-gradient(88.15deg, #8E0080 0%, rgba(142, 0, 128, 0.7) 100%);
$status_published: linear-gradient(88.15deg, #0B861F 0%, rgba(11, 134, 31, 0.7) 100%);
$status_submitted: linear-gradient(88.15deg, #2168BA 0%, rgba(33, 104, 186, 0.7) 100%);
$status_rejected: linear-gradient(88.15deg, #B71515 0%, rgba(183, 21, 21, 0.7) 100%);
$status_deprecated: linear-gradient(88.15deg, #525252 0%, rgba(82, 82, 82, 0.7) 100%);
