/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Source Sans Pro, "Helvetica Neue", sans-serif; background-color: white;}

/*THIS IS ONLY TEMPORARY UNTIL WE REDO THE COLORS IN AUTH. I COULD NOT SEE IT TO MAKE IT OUT.*/

.mat-form-field-wrapper {
    background-color: green !important;
}

.competency-preview-dialog {
  color: white;
  width: 80%;
  height: 80%;

  mat-dialog-container {
    background-color: white;
    color: black;
    padding: 0;
    overflow: hidden;
  }
}